<header class="flex flex-col w-screen items-center">
  <div class="w-full flex flex-col items-center border-b-[1px] border-b-[#EEE]">
    <div class="flex justify-between items-center w-full max-w-[1200px] py-6 px-4">
      <section class="flex">
        <div class="mr-[37.91px]">
          <img src="assets/images/tt-logo.svg" alt="Logo">
        </div>
        <p class="pr-6 text-[#1B1C1E] text-base leading-[24.96px] font-medium">The what?</p>
        <nav class="flex flex-col pl-6 border-l-[1px] border-[#E0E0E0]">
          <ul class="flex flex-row gap-x-6">
            @for (item of menus(); track item.icon) {
              <li class="text-[#1B1C1E] text-base font-medium leading-[24.96px]"><span class="w-6 h-6 bg-[{{item.color}}] pr-2">{{ item.icon }}</span>{{ item.name }}</li>
            }
          </ul>
        </nav>
      </section>
      <div class="flex items-center">
        <div class="pr-4 border-r-[1px] border-[#E0E0E0]">
          <mat-icon class="w-8 h-8">search</mat-icon>
        </div>
        <section class="pl-4 flex gap-x-4">
          <button class="py-3 px-5 border-[1px] border-[#E0E0E0] rounded-xl text-base text-[#9444cb] leading-4 font-bold">Login</button>
          <button class="py-3 px-5 border-[1px] border-[#E0E0E0] rounded-lg bg-[#9444cb] text-base text-[#FFF] font-bold leading-4">Join the Tribe</button>
        </section>
      </div>
    </div>
  </div>
  <tt-path />
</header>

