<div class="w-full flex flex-col items-center">
  <section class="flex flex-col w-full items-center">
    <div class="w-screen">
      <img class="w-full" src="assets/images/carosel.svg" alt="Img">
    </div>
    <div class="flex flex-col max-w-[1200px] w-full rounded-lg border-[1px] border-[#EEE] bg-[#FFF] relative bottom-[84px] px-4">
      <div class="py-6 px-10 flex justify-between">
        <section class="flex gap-x-6 items-center">
          <div><img src="assets/images/Images.png" alt="Profile"></div>
          <div class="flex flex-col gap-y-2">
            <h1 class="text-[40px] leading-[48px] font-bold text-[#1B1C1E]">Deborah Olafusi</h1>
            <p class="text-base leading-[24.96px] font-medium text-[#757575]">Field of Expertise . Field of Expertise</p>
            <button class=" w-max py-[11px] px-4 border-[1px] border-[#E0E0E0] rounded-md text-[14px] text-[#9444cb] leading-[14px] font-medium">Follow</button>
          </div>
        </section>
      </div>
    </div>
  </section>
  <div class="flex gap-x-6 max-w-[1200px] w-full">
    <section class="flex flex-col gap-y-6 w-full">
      <tt-card>
        <div class="p-6 w-full flex flex-col gap-y-4">
          <h5 class="font-bold leading-[25.2px] text-[18px] text-[#1B1C1E]">Basic Info</h5>
          <div class="flex items-center gap-x-4">
            <button><mat-icon>bookmarks_outlined</mat-icon></button>
            <p class="font-medium text-4 text-[1B1C1E] leading-[24.96px]">Nigeria</p>
          </div>
          <div class="flex items-center gap-x-4">
            <button><mat-icon>star_outlined</mat-icon></button>
            <p class="font-medium text-4 text-[1B1C1E] leading-[24.96px]">4.5 (24 reviews)</p>
          </div>
        </div>
      </tt-card>
      <tt-card>
        <div class="p-6 w-full flex flex-col gap-y-4">
          <h5 class="font-bold leading-[25.2px] text-[18px] text-[#757575]">About</h5>
          <p class="font-medium text-4 text-[#616161] leading-[24.96px]">This is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled...</p>
        </div>
      </tt-card>
      <tt-card>
        <div class="p-6 w-full flex flex-col gap-y-6">
          <h5 class="font-bold leading-[25.2px] text-[18px] text-[#757575]">Experience</h5>
          <div class="w-full">
            <ul class="w-full flex flex-col">
              <li class="flex gap-x-[18px] items-center pb-4">
                <button class="w-[23px] h-[23px] bg-[#EEE]">
                  <mat-icon>business_center_outlined</mat-icon>
                </button>
                <div>
                  <p class="font-medium leading-[25.2px] text-[18px] text-[#616161]">Marketing Head, <span class="font-medium leading-[25.2px] text-[18px] text-[#616161]">MTN Nigeria</span></p>
                  <span class="font-medium text-base leading-[24.96px] text-[#757575]">2002 - 2017</span>
                </div>
              </li>
              <li class="flex gap-x-[18px] items-center pb-4">
                <button class="w-[23px] h-[23px] bg-[#EEE]">
                  <mat-icon>business_center_outlined</mat-icon>
                </button>
                <div>
                  <p class="font-medium leading-[25.2px] text-[18px] text-[#616161]">Marketing Head, <span class="font-medium leading-[25.2px] text-[18px] text-[#616161]">MTN Nigeria</span></p>
                  <span class="font-medium text-base leading-[24.96px] text-[#757575]">2002 - 2017</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </tt-card>
      <tt-card>
        <div  class="p-6 w-full flex flex-col">
          <h5 class="font-bold leading-[25.2px] text-[18px] text-[#757575]">Expertise</h5>
          <div class="mt-6">
            <button class="border-[1px] border-[#E0E0E0] py-3 px-3 bg-[#F5F5F5] rounded-[28px]">Expertise i</button>
          </div>
        </div>
      </tt-card>
    </section>
    <aside class="flex flex-col gap-y-6 w-full">
      <tt-card>
        <div class="p-10 w-full flex flex-col">
          <button class="border-[1px] border-[#E2E6E9] rounded-[6px] py-2 px-3 bg-gradient-to-r from-[#0D99FF] to-[#9444CB] w-max text-[#FFF] text-[14px] leading-[16px] font-medium">Instant</button>
          <p class="font-bold text-xl leading-[29.6px] text-[#1B1C1E] mt-2">1:1 Mentorship Session 30min</p>
          <h1 class="font-bold text-[56px] leading-[63.32px] text-[#000] my-2">N2,000</h1>
          <span class="font-[400] text-base leading-[24.96px] text-[#616161] flex mb-6">Schedule a one-off session with Deborah</span>
          <ul class="flex flex-col gap-y-[10px] pt-6 border-t-[1px] border-t-[#E0E0E0]">
            <li class="flex gap-x-3 items-center font-medium text-[14px] text-[#9E9E9E] leading-[20.72px]"><button><mat-icon>edit_calendar_outlined</mat-icon></button> 4 slots left</li>
            <li class="flex gap-x-3 items-center font-medium text-[14px] text-[#9E9E9E] leading-[20.72px]"><button><mat-icon>schedule_outlined</mat-icon></button> 30 minutes</li>
          </ul>
          <button class="mt-6 border-[1px] border-[#E0E0E0] rounded-lg bg-[#9444cb] text-base text-[#FFF] font-bold leading-4 py-[15px] px-6 w-max">Book Now</button>
        </div>
      </tt-card>
      <tt-card>
        <div class="p-10 w-full flex flex-col">
          <section>
            <button class="border-[1px] border-[#E2E6E9] rounded-[6px] py-2 px-3 bg-gradient-to-r from-[#0D99FF] to-[#9444CB] w-max text-[#FFF] text-[14px] leading-[16px] font-medium">Request</button>
            <h6 class="font-bold text-xl leading-[29.6px] text-[#1B1C1E] mt-2">Portfolio Review</h6>
            <h1 class="font-bold text-[56px] leading-[63.32px] text-[#000] my-2">Free</h1>
            <p class="font-[400] text-base leading-[24.96px] text-[#616161] flex mb-6">Schedule a one-off session with Deborah</p>
          </section>
          <!-- <div>
            <select name="" id="">
              <option value="">See more sessions</option>
            </select>
          </div> -->
        </div>
      </tt-card>
    </aside>
  </div>
  <div class="mt-[71px] flex flex-col max-w-[1200px] w-full">
    <h2 class="font-bold leading-[35.84px] text-[32px] text-[#000] mb-6">What people say</h2>
    <tt-card>
      <section class="flex flex-col p-10">
        <h6 class="font-bold text-[18px] text-[#757575] leading-[25.2px]">Ratings & Comments</h6>
        <div class="flex flex-col mt-6">
          <article class="flex flex-col">
            <div class="flex flex-col">
              <section class="flex gap-x-[18px]">
                <div class="w-10 h-10"><img src="assets/images/Images.png" alt="Img"></div>
                <section class="flex flex-col gap-y-3">
                  <h5 class="text-[18px] font-bold text-[#1B1C1E] leading-[25.2px]">Aina Rasheed</h5>
                  <p class="font-medium text-base leading-[24.96px] text-[#424242]">This is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <span class="font-medium text-base leading-[24.96px] text-[#757575]">24/10/2022. 17:56pm</span>
                </section>
              </section>
              <span></span>
            </div>
            <!-- <div><hr></div> -->
          </article>
        </div>
      </section>
    </tt-card>
  </div>
  <div class="flex flex-col mt-[79px]">
    <h2 class="font-bold leading-[35.84px] text-[32px] text-[#000] mb-6">How it works</h2>
    <div>
      <div>
        <span></span>
        <section>
          <img src="assets/images/how-it-works.svg" alt="How it works">
        </section>
      </div>
    </div>
  </div>
  <div>
    <h2>Similar Mentors</h2>
    <section>
      <div>
        <div>
          <div><img src="" alt="Name"></div>
          <div>
            <span></span>
            <span></span>
          </div>
        </div>
        <div>
          <h5>Bukola Arowolo</h5>
          <p>Field of Expertise</p>
        </div>
      </div>
    </section>
  </div>
</div>
