<div class="flex flex-col items-center justify-center w-full">
  <div class="flex flex-col items-center justify-center w-full">
    <tt-menu />

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      <div>
        <section></section>
        <div>
          <h5>Community</h5>
          <ul>
            <li>Mentors</li>
            <li>Categories</li>
            <li>Sessions</li>
          </ul>
        </div>
        <div>
          <h5>Community</h5>
          <ul>
            <li>Job board</li>
            <li>Events</li>
            <li>Blog</li>
            <li>Offers</li>
          </ul>
        </div>
        <div>
          <h5>Twenties tribe</h5>
          <ul>
            <li>About</li>
            <li>Privacy policy</li>
            <li>Terms & conditions</li>
          </ul>
        </div>
        <div>
          <h5>Connect</h5>
          <ul>
            <li>Instagram</li>
            <li>LinkedIn</li>
            <li>Twitter</li>
            <li>Facebook</li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
